<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/play.css">
    <title>Tic Tac Toe | Poke Battle</title>
</head>
<body onload="main()">

    <header>
        <img class="img-title left-img-title" src="css/imgs/index/title2.jpg" alt="title image">
        <img class="img-title center-img-title" src="css/imgs/index/title.png" alt="title image">
        <img class="img-title right-img-title" src="css/imgs/index/title2.jpg" alt="title image">
    </header>

    <main class="main">
        <!-- hidden -->
        <label><%= characters.p1 %></label>
        <label><%= characters.p2 %></label>

        <div class="arena-div">

            <div class="arena-div__p1-div">

                <div class="arena-div__p1-div__icon char_icon">
                    <img src="" alt="image">
                </div>

                <div class="arena-div__p1-div__health">
                    <img class="mini-icon" src="" alt="image">
                    <h1>PIKACHU</h1>
                    <div class="bar-div"> <div class="health-div" id="p1-health"></div> </div>
                </div>

            </div>

            <div class="arena-div__battle-div">

                <div class="skill-gif"></div>

                <div class="rows row-1">
                    <!-- <div class="sec_row"></div> -->
                    <div class="boxes box-1"></div>
                    <div class="boxes box-2"></div>
                    <div class="boxes box-3"></div>
                </div>
                <div class="rows row-2">
                    <!-- <div class="sec_row"></div> -->
                    <div class="boxes box-4"></div>
                    <div class="boxes box-5"></div>
                    <div class="boxes box-6"></div>
                </div>
                <div class="rows row-3">
                    <!-- <div class="sec_row"></div> -->
                    <div class="boxes box-7"></div>
                    <div class="boxes box-8"></div>
                    <div class="boxes box-9"></div>
                </div>

            </div>

            <div class="arena-div__p2-div">

                <div class="arena-div__p2-div__icon char_icon">
                    <img src="" alt="image">
                </div>

                <div class="arena-div__p2-div__health">
                    <img class="mini-icon" src="" alt="image">
                    <h1>PIKACHU</h1>
                    <div class="bar-div"> <div class="health-div" id="p2-health"></div> </div>
                </div>

            </div>
        </div>

    </main>

</body>
<script src="./js/play.js"></script>
</html>