<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/play.css">
    <title>Tic Tac Toe | Poke Battle</title>
</head>
<body>

    <header>
        <img class="img-title left-img-title" src="css/imgs/index/title2.jpg" alt="title image">
        <img class="img-title center-img-title" src="css/imgs/index/title.png" alt="title image">
        <img class="img-title right-img-title" src="css/imgs/index/title2.jpg" alt="title image">
    </header>

    <main class="main">

        <div class="arena-div">
            <div class="arena-div__p1-div">
                <div class="arena-div__p1-div__icon"></div>
                <div class="arena-div__p1-div__health">
                    <img src="css/imgs/arena/pikachuIcon.png" alt="image">
                    <h1>PIKACHU</h1>
                    <div> </div>
                </div>
            </div>
            <div class="arena-div__battle-div"></div>
            <div class="arena-div__p2-div">
                <div class="arena-div__p2-div__icon"></div>
                <div class="arena-div__p2-div__health">
                    <img src="css/imgs/arena/pikachuIcon.png" alt="image">
                    <h1>PIKACHU</h1>
                    <div> </div>
                </div>
            </div>
        </div>

    </main>

</body>
</html>