body{
    margin:0;
    font-size: 1.125rem;
}

header{
    width:70%;
    max-width:70%;
    margin: 0 auto;
    border:2px solid #7ca76e;
    display:flex;
}

header .img-title{
    height:100px;
}

header .center-img-title{
    width:70%;
}

header .left-img-title, header .right-img-title{
    width:15%;
}

.draft-div{
    width:70%;
    max-width:70%;
    margin: 0 auto;
    height:56.5vh;
    border:2px solid #7ca76e;
    background-image: url('./imgs/index/pokeBackground.png');
    background-position: center;
    background-size: 100% 100%;
}

.draft-div .draft-picks-div{
    width:100%;
    display:flex;
    justify-content: space-evenly;
    height:80%;
    /* height:46vh; */
}

.draft-div .draft-picks-div .draft-players-div{
    width:35%;
    height:60%;
    border: 1px solid gray;
    border-radius: 15px;
    margin-top:10%;
    background-size: 100% 100%;
    background-position:center;
}


.draft-div .draft-picks-div .draft-players-h1{
    font-size: 8rem;
    font-family: Agency FB;
	font-weight: initial;
	color: #f74702;
    margin-top:15%;
	text-shadow: 2px 2px 8px #FF0000;
}

.draft-div .draft-picks-div .draft-vs-img{
    position: absolute;
    /* top:40%; */
    left:45.8%;
    width:7%;
    height:20%;
    margin-top:10%;
    /* margin:0 auto; */
}

input{
    display:none;
}

.go-play-btn{
    width:15%;
    height:10%;
    margin-left:41.5%;
    background-color: #1670cb;
	cursor: pointer;
	border-radius: 15%;
    pointer-events: none;
}

.go-play-btn img{
    width:100%;
	height: 100%;
	border-radius: 50%;
	border:none;
}

.pokemon-lists-div{
    width:70%;
    max-width:70%;
    margin: 0 auto;
    border:2px solid #7ca76e;
    display:flex;
    background-color: #7ca76e;


}

.pokemon-lists-div .pokemon-div{
    width:17%;
    height:29vh;
    border:1px solid black;
}

.pokemon-lists-div .pokemon-div .pokeball-img{
    width:60%;
    height:30%;
    border-radius: 50%;
    margin:5% 0 0 20%;
}

.pokemon-lists-div .pokemon-div .pokemon-img{
    width:90%;
    height:60%;
    margin-left:5%;
    border-radius: 10px;
}

/* 
$mobile : 576px;
$tablet : 768px;
$laptop : 992px;
$desktop : 1200px;
*/

/* @media (max-width:750px) and (min-width:420px){ */
@media (max-width:768px){

    header{
        width:100%;
        max-width:100%;
    }

    header .img-title{
        height:60px;
    }

    .draft-div{
        width:100%;
        max-width:100%;
        height:70vh;
    }

    .draft-div .draft-picks-div .draft-players-div{
        margin-top:5%;
        height:65%;
        width:37%
    }

    .draft-div .draft-picks-div .draft-players-h1{
        font-size: 3rem;
        margin-top:12%;
    }

    .draft-div .draft-picks-div .draft-vs-img{
        left:44.5%;
        width:10%;
        height:15%;
        margin-top:11%;
    }

    .pokemon-lists-div{
        width:100%;
        max-width:100%;
        /* flex-direction: column;
        align-items: center;
        justify-content: space-around; */
        display:block;
    }

    .pokemon-lists-div .pokemon-div{
        display:inline-block;
        margin:0;
        padding:0;
        width:30%;
        height:40vh;
        margin-left:1.8%;
    }
}

@media (max-width:576px){
    header{
        width:100%;
        max-width:100%;
    }

    header .img-title{
        height:40px;
    }

    .draft-div{
        width:100%;
        max-width:100%;
        height:30vh;
    }

    .draft-div .draft-picks-div .draft-players-div{
        margin-top:10%;
        height:60%;
        width:35%
    }

    .draft-div .draft-picks-div .draft-players-h1{
        font-size: 2rem;
        margin-top:17%;
    }

    .draft-div .draft-picks-div .draft-vs-img{
        left:44.5%;
        width:10%;
        height:6%;
        margin-top:18%;
    }

    .pokemon-lists-div{
        width:100%;
        max-width:100%;
        /* flex-direction: column;
        align-items: center;
        justify-content: space-around; */
        display:block;
    }

    .pokemon-lists-div .pokemon-div{
        display:inline-block;
        margin:0;
        padding:0;
        width:30%;
        height:20vh;
        margin-left:5px;
    }
}